.body {
  background-color: rgb(105, 86, 86);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body form {
  background-color: rgba(247, 243, 243, 0.822);
  width: 40%;
  border-radius: 0.5em;
  padding: 20px 20px 20px 50px;
  margin: 50px;
}

.body h2{
    padding: 5px;
}

.body form input{
    margin: 10px;
    /* justify-content: center; */
    display: grid;
    padding: 5px;
}


.submit {
  width: 10em;
  height: 2.5em;
  /* border: 0; */
  font-weight: bold;
  color: black;
  /* background-color: white; */
  /* border-radius: 0.3em; */
  cursor: pointer;
  margin-top: 10px;
}

.submit:hover{
    background-color: rgb(105, 86, 86);
    color: white;
}