.userImage {
  border-radius: 50%;
}

.nav {
  display: flex;
}

.nav a {
  margin-left: 65%;
}

.slider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.navbar {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

/* .image {
  z-index: -100;
} */
/* .navbar ul {
  list-style: none;
  width: 100%;
  height: 100px;
} */

.navbar ul {
  float: right;
}

.navbar ul li {
  display: inline-block;
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  line-height: 100px;
  padding: 10px 28px;
  font-size: 16px;
  letter-spacing: 0.5px;
  border: 2px solid transparent;
  border-radius: 20px;
  font-weight: bold;
}

.navbar ul li a:hover {
  background-color: red;
  color: white;
  transition: 0.4s;
}

.navbar img {
  float: left;
  width: 100px;
  height: auto;
  padding-top: 2%;
}

.head {
  width: 60%;
  margin: 160px auto 0;
  position: absolute;
  text-align: center;
}

.head h1 {
  font-size: 45px;
  color: black;
  line-height: 55px;
}

.head p {
  font-size: 25px;
  color: brown;
  line-height: 40px;
}

.head h1 span {
  color: rgb(255, 0, 106);
  font-weight: bolder;
}

.head p span {
  color: rgb(140, 255, 0);
  font-weight: bolder;
  font-style: oblique;
}

.titletext {
  text-align: center;
  padding-top: 60%;
}

.titletext h2 {
  margin: auto;
  color: darkblue;
  font-weight: bold;
  padding-left: 4%;
  position: relative;
  z-index: 1;
  display: inline-block;
}

.gallery {
  width: 100vw;
  padding: 70px 0;
}

.gallery img {
   width: 32vw;
  margin-left: 8px;
  float: left;
  padding: 2%;
}

.gallery1 img {
   width: 32vw;
  margin-left: 8px;
  float: right;
  padding: 2%;
}